
.container {
    position:absolute;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: auto;
}

.circle {
    display: flex;
    /* justify-content: center; 
    align-items: center; */
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: solid black 2px;
    background-color: white;
    color: black;
    
}


.brackets{
    margin: auto;
    font-size: 20px;
    animation: rotateBrackets 1s ease-in-out infinite;
    -webkit-animation: rotateBrackets 1s ease-in-out infinite;
    font-family: 'Helvetica', sans-serif;
}

@keyframes rotateBrackets {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}