.containerCp {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

.containerRightCp {
    width: 60%;
    padding: 0 40px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 248, 130);
}

.containerRightCp iframe {
    border-style: none;
}

.containerLeftCp {
    width: 40%;
    background-color: rgb(90, 198, 213);
    display: flex;
}

.itemsCp {
    width: 100%;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.itemsCp ul li {
    list-style-type: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    letter-spacing: 42px;
    line-height: 100px;
    transition: all 0.6s ease;
}

.itemsCp ul li:hover {
    letter-spacing: 9px;
    color: rgb(245, 248, 130);
}

/*.containerCp svg {
    position: absolute;
    top: 0px;
    left: 0px;
}*/


