.containerCp {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

.containerRightCp {
    width: 60%;
    padding: 0 40px ;
    /*background-color: #F8F8F8;*/
}

.containerRightCp iframe {
    margin-top: 220px;
    border-style: none;
}

.containerLeftCp {
    width: 40%;
    background-color: rgb(90, 198, 213);
    display: flex;
}

.ItemCp {
    width: 100%;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ItemCp ul li {
    list-style-type: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    letter-spacing: 42px;
    line-height: 100px;
    margin-left: 40px;
}

.containerLeftCp svg {
    position: absolute;
    top: 420px;
    left: 110px;
}


