.containerWrap {
    position: fixed;
    z-index: 100;
}

.containerWrapUp {
    width: 100%;
    height: 40px;
    top: 0;
    margin: 0;
    background-color: white;
    position: fixed;

}

.containerWrapDown {
    width: 100%;
    height: 40px;
    bottom: 0;
    margin: 0;
    background-color: white;
    position: fixed;
}

.socialLinks {
    position: absolute;
    bottom: 0px;
    right: 40px;
}