

.menuContainer {
    position: fixed;
    top: 40px;
    bottom: 40px;
    left: 80px;
    z-index: 200;
    width: 85%;
    background-color: rgb(245, 248, 130);
    animation: elasticMenu 0.3s ease-out;
}

@keyframes elasticMenu {
    from{
         width: 0%;
         left: 60%;
    }
    to {
        width: 85%;
        left: 80px;
    }
}

.flexMenuContainer {
    width: 100%;
    height: 100%;
    display: flex;
}

.menuItemContainer {
    width: 33%;
    height: 100%;
    padding-left: 137px;
    padding-top: 15%;
    font-family: 'Lato';
    color: rgb(19, 31, 68);
    font-size: 37px;
}

.menuItemContainer ul li {
    list-style-type: none;
}

.menuItemContainer a {
    text-decoration: none;
    color: rgb(19, 31, 68);
}

.menuItemContainer li a {
    position: relative;
}

.menuItemContainer li a:after {
    position: absolute;
    transition: all 0.35s ease;
    background-color: rgb(19, 31, 68);
    width: 0px;
    -webkit-transition: all 0.4s ease-out;
    content: '';
    right: 0;
    height: 2px;
    bottom: 0px;
}

.menuItemContainer li a:hover:after {
    width: 100%;
    transition: width 0.45s ease;
    left: 0;
}

.contactme {
    margin-top: 100px;
    font-size: 18px;
}

.animMenuContainer {
    width: 67%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animMenuContainer img{
    margin-left: 10%;
}

.HomeItemsAnim, .SkillsItemsAnim, .CpItemsAnim, .ContactAnim, .AboutItemsAnim  {
    opacity: 1;
    animation: opacityenter 0.8s ease;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}

@keyframes opacityenter {
    from {
        opacity: 0;
        transform: translateX(100px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}


.circleMenuHome {
    color: white;
    background-color: rgb(245, 248, 130);
    height: 250px;
    width: 250px;
    border-radius: 250px;
    border: solid white 10px;
    display: flex;
    margin-left: 70px;    
}

.bracketsMenuHome {
    margin: auto;
    color: white;
    font-size: 170px;
    font-family: 'Courrier', sans-serif;
    animation: rotateBracketsMenuHome 1.4s ease-in-out;
    -webkit-animation: rotateBracketsMenuHome 1.4s ease-in-out;
}

@keyframes rotateBracketsMenuHome {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}

.SkillsItemsAnim img {
    height: 300px;
   
}

.CpItemsAnim img {
    height: 300px;
    color: white;
}


/*
.menuAnim-appear{
    width: 5%;
    opacity: 0;
}

.menuAnim-appear.menuAnim-appear-active{
    opacity: 1;
    width: 85%;
    transition: width 1000ms ease-in;
    transition: opacity 1000ms ease-in;
    transition-delay: 5s;
}

.menuAnim-leave{
    width: 85%;
}

.menuAnim-leave.menuAnim-leave-active{
    width: 0%;
    transition: width 500ms ease-in;
}*/

.ContactAnim {
    width: 40%;
    height: 30%;
    margin-left: -300px;
}

.ContactAnim video {
     width: 250px;
    height: 170px;
}

.AboutItemsAnim img {
    height: 270px;
}