
/*//////////////SKILLS MAIN/////////////*/

.skillsFlexContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}


.skillsContainer {
    width: 1200px;
    padding: 40px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/*//////////////SKILL/////////////*/

.skillCardRelative {
    position: relative;
    width: 300px;
    height: 300px;
    border: white solid 1px;
}

.skillCardAbsolute {
    position: absolute;
    display: flex;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.35);
    border-width: 2px;
    border-style: solid;
    transition: background-color 0.1s ease, height 0.3s ease, width 0.3s ease ;
}

.skillCardInfo {
    position: relative;
    margin: auto;
    width: 40%;
    color: rgb(19, 31, 68);
    
}

/*////SKILLDETAIL////*/

.skillDetailContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.skillDetailContainer img {
    animation: startSkillImg 0.8s ease;
}

@keyframes startSkillImg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/*/////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////*/


/*//////////////////CARD1//////////////////*/

.skillCard1 {
    top: 10%;
    left: 15%;
    width: 100%;
    height: 170%;
    border-color: rgb(90, 198, 213);
    transform: rotate(-20deg);
    z-index: 20;
}

.skillInfo1 {
   transform: rotate(20deg); 
}

.skillDetail1 img:nth-child(1) {
    position: absolute;
    width: 60%;
    transform: rotate(20deg);
    top: 5%;
    left: 30%;
}

.skillDetail1 img:nth-child(2) {
    position: absolute;
    width: 20%;
    transform: rotate(20deg);
    top: 60%;
    left: 50%;
}

.skillDetail1 img:nth-child(3) {
    position: absolute;
    width: 25%;
    transform: rotate(20deg);
    top: 30%;
    left: 15%;
}

.skillDetail1 img:nth-child(4) {
    position: absolute;
    width: 17%;
    transform: rotate(20deg);
    top: 30%;
    right: 10%;
}




/*//////////////////CARD2//////////////////*/

.skillCard2 {
    top: 10%;
    left: -50%;
    width: 230%;
    height: 70%;
    transform: rotate(-3deg);
    z-index: 19;
}

.skillInfo2 {
   transform: rotate(3deg); 
}


/*//////////////////CARD3//////////////////*/

.skillCard3 {
    top: 20%;
    left: -10%;
    width: 100%;
    height: 130%;
    border-color: rgb(90, 198, 213);
    transform: rotate(6deg);
    z-index: 18;
}

.skillInfo3 {
   transform: rotate(-6deg); 
}

/*//////////////////CARD4//////////////////*/

.skillCard4 {
    top: 34%;
    left: 25%;
    width: 100%;
    height: 120%;
    z-index: 20;
    transform: rotate(-49deg);
}


.skillInfo4 {
    transform: rotate(49deg);
}

/*//////////////////CARD5//////////////////*/

.skillCard5 {
    top: -92%;
    left: -25%;
    width: 110%;
    height: 220%;
    transform: rotate(55deg);
    border-color: rgb(248, 248, 248, 0.6);
    z-index: 17;
}

.skillInfo5 {
   transform: rotate(-55deg); 
}

/*//////////////////CARD6//////////////////*/

.skillCard6 {
    top: -10%;
    left: -10%;
    width: 110%;
    height: 220%;
    border-color: rgb(245, 248, 130);
    z-index: 16;
}




/*//////////////////CARD8//////////////////*/

.skillCard8 {
    top: -80%;
    left: 30%;
    width: 120%;
    height: 120%;
    border-radius: 50%;
    z-index: 20;
}

.skillInfo8 {

}


/*//////////////////CARD9//////////////////*/

.skillCard9 {
    top: 0%;
    left: -200%;
    width: 120%;
    height: 100%;
    border-color: rgb(90, 198, 213);
    transform: rotate(13deg);
    z-index: 19;
}

.skillInfo9 {
    transform: rotate(-13deg); 
}


/*//////////////////CARD11//////////////////*/

.skillCard11 {

}

.skillInfo11 {

}

/*//////////////////CARD12//////////////////*/

.skillCard12 {
    top: -140px;
    left: -280px;
    width: 130%;
    height: 100%;
    transform: rotate(-15deg);
    z-index: 18;
    border-color: rgb(248, 248, 248, 0.6);
}

.skillInfo12 {
   transform: rotate(15deg); 
}