.aboutContainer {
    width: 100%;
    height: 100vh;
    background-color: #F8F8F8;
    position: relative;
}

.aboutPart1 {
    position: absolute;
    transform: rotate(-10deg);
    top: 15%;
    left: 10%;
    width: 500px;
    font-size: 20px;
    font-variant: small-caps;
    text-align: justify;
}

.aboutPart1Intro {
    position: absolute;
    background-color: rgb(90, 198, 213);
    width: 100%;
    height: 100%;
    display: flex;
    transition: opacity 0.3s ease-out;
}

.aboutPart1Intro img {
    height: 80px;
    margin: auto;
}

 
.animBorderAbout {
    padding: 8px;
    border: 2px rgb(90, 198, 213) solid;
    border-left: 4px solid rgb(90, 198, 213);
    border-right: 4px solid rgb(90, 198, 213);
    border-radius: 4px;
}

.animBorderAbout:hover {
   
    background-color: white;
} 

.aboutContainer > * {
    position: absolute;
}


.fleche1About {
    right: 18%;
    top: 10%;
    width: 340px;
}

.aboutPart2 {
    transform: rotate(8deg);
    top: 50%;
    right: 5%;
    width: 500px;
    font-size: 20px;
    font-variant: small-caps;
    text-align: justify;
    
}

.aboutPart2Intro {
    position: absolute;
    background-color: rgb(245, 248, 130);
    width: 100%;
    height: 100%;
    display: flex;
    transition: opacity 0.3s ease-out;
}

.aboutPart2Intro img {
    height: 80px;
    margin: auto;
}



.aboutPart3 {
    transform: rotate(4deg);
    bottom: 5%;
    left: 5%;
    width: 500px;
    font-size: 20px;
    font-variant: small-caps;
    text-align: justify;
}


.aboutPart3Intro {
    position: absolute;
    background-color: #EA2E49;
    width: 100%;
    height: 100%;
    display: flex;
    transition: opacity 0.3s ease-out;
}

.aboutPart3Intro img {
    height: 80px;
    margin: auto;
}


.fleche2About {
    right: 30%;
    bottom: 10%;
    width: 250px;
}

/*//////////////////////////////////////////////////*/
/*////////////////////////RESPONSIVE//////////////////////////*/
/*//////////////////////////////////////////////////*/

@media (max-width : 1279px) {

    .aboutContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 0;
        height: 100%;
    }

    .fleche1About, .fleche2About {
        display: none;
    }

    .aboutPart1, .aboutPart2, .aboutPart3 {
        position: relative;
        transform: rotate(0deg);
        left: inherit;
        right: inherit;
        bottom: inherit;
        top: inherit;
        margin-top: 30px;
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.35);
    }
}

@media (max-width : 700px) {

    .aboutPart1, .aboutPart2, .aboutPart3  {
        width: 300px;
}

}

@media (max-width : 450px) {

    .aboutPart1, .aboutPart2, .aboutPart3  {
        width: 180px;
        font-size: 17px;
    }
}