.homeContainer {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

.leftHome {
    background-color:#F8F8F8;;
    width: 50%;
}

.rightHome {
    background-color: rgb(90, 198, 213);
    width: 50%;
    animation: fullToRight 1s ease; 
}

@keyframes fullToRight {
    from {
        width: 100%;
    }

    to {
        width: 50%;
    }
}

.logoContainer {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    margin-left: 0;
    margin-right: 0;
    
}

.logoCenter {
    width: 170px;
    height: 170px;
    background-color: black;
    border-radius: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}



.bracketsHome {
    color: white;
    font-size: 70px;
    transform: translateZ(14px);
    animation: rotateBrackets 1s ease-in-out;
    animation-delay: 0.7s;
    margin-top: 0px;
    font-family: 'Helvetica', sans-serif;
    transform: translateZ(20px);
}


@keyframes rotateBrackets {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.titleHome{
    margin-left: -5px;
    margin-top: 20px;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 30px;
    transform-style: preserve-3d;
}

.titleHome:nth-child(1) {
    transform: translateZ(23px);
}

.titleHome:nth-child(2) {
    letter-spacing: 1.3px;
    font-variant: small-caps;
    transform: translateZ(40px);
}


.arrowNav {
    position: absolute;
    width: 100%;
    bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.designItems {
    position: absolute;
    width: 90%;
    height: 80vh;
    animation: updown linear 5s infinite;
}

.designItems div:nth-child(1){
    position: absolute;
    top: 100px;
    left: 150px;
}

.designItems div:nth-child(2){
    position: absolute;
    top: 280px;
    left: 80%;
    animation-delay: 1s;
}

/*@keyframes updown {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(-40px);
    }
    75%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}*/

@keyframes updown {
    0%{
        top: 100px;
    }
    25%{
        top: 120px;
    }
    50%{
        top: 140px;
    }
    75%{
        top: 120px;
    }
    100%{
        top: 100px;
    }
}