.homeContainer {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

.leftHome {
    background-color:#F8F8F8;;
    width: 50%;
}

.rightHome {
    background-color: rgb(90, 198, 213);
    width: 50%;
    animation: fullToRight 1s ease; 
}

@keyframes fullToRight {
    from {
        width: 100%;
    }

    to {
        width: 50%;
    }
}

.logoContainer {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    margin-left: 0;
}

.logoCenter {
    width: 170px;
    height: 170px;
    background-color: black;
    border-radius: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.bracketsHome {
    color: white;
    font-size: 70px;
    animation: rotateBrackets 1s ease-in-out;
    animation-delay: 0.7s;
    margin-top: 0px;
    font-family: sans-serif;
}


@keyframes rotateBrackets {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.titleHome{
    margin-left: -5px;
    margin-top: 20px;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 30px;
}

.titleHome p span {
    letter-spacing: 1.3px;
    font-variant: small-caps;
}


.arrowNav {
    position: absolute;
    width: 100%;
    bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}