.contactContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8F8F8;
    background: linear-gradient(to bottom, white, #F8F8F8);
    background: -webkit-linear-gradient(bottom, white, #F8F8F8);
    background: -moz-linear-gradient(bottom, white, #F8F8F8);
    background: -o-linear-gradient(bottom, white, #F8F8F8);   
}

.contactContainerForm {
    width: 50%;
}

.contactContainerVideo {
    width: 50%;
    position: relative;
    cursor: pointer;
}

.contactContainerVideo video {
    width: 100%;
}

.textVideo {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    color: white;
    font-size: 40px;
    font-variant: small-caps;
}

.textVideo h3 {
    margin: auto;
}

.contactContainerForm p {
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 4px;
    animation: 1s ease appearMail;
    font-size: 23px;
}

@keyframes appearMail {
    from {
        opacity: 0;
        font-size: 0px;
    }
    to {
        opacity: 1;
        font-size: 23px;
    }
}

/*//////////////////////////////////////////////////*/
/*////////////////////////RESPONSIVE//////////////////////////*/
/*//////////////////////////////////////////////////*/

@media (max-width : 1279px) {
    .contactContainer {
         height: 100%;
         padding: 70px 0;
    }

}

@media (max-width: 900px) {

    .contactContainer {
        flex-direction: column-reverse;
    }

    .contactContainerForm {
        margin-top: 20px;
        width: 75%;
    }

    .contactContainerForm p {
        font-size: 15px;
    }

    .contactContainerVideo {
        width: 75%;
    }

    .textVideo {
        font-size: 20px;
    }

}

@media (max-width: 450px) {

    .contactContainerForm p {
        font-size: 10px;
    }

    @keyframes appearMail {
    from {
        opacity: 0;
        font-size: 0px;
    }
    to {
        opacity: 1;
        font-size: 10px;
    }
}
}