.footerContainer {
    height: 110px;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    border: 1px solid rgb(90, 198, 213); 
}

.gridFooter{
    width: 33.3%;
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gridFooter:nth-child(2) {
    font-size: 11px;
}

.gridFooter p {
    line-height: 20px;
}

.gridFooter a {
    text-decoration: none;
    color: black;
}

.logoFooter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.animLogoFooter img {
   animation: rotateBracketsFooter 10s linear infinite;
   height: 17px;
}


@keyframes rotateBracketsFooter {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.logoFooter p {
    color: rgb(90, 198, 213);
    margin-right: 10px;
}

.arrowContact {
  width: 35px;
  height: 22px;
  display: block;
  margin: 0 auto;
  animation: leftToRightarrow 4.4s linear infinite;
}

@keyframes leftToRightarrow {
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(-15px);
    }
    50%{
        transform: translateX(-30px);
    }
    75%{
        transform: translateX(-15px);
    }
    100%{
        transform: translateX(0px);
    }   
}

.arrowContact span {
  display: block;
  width: 100%;
  height: 3px;
  background: #131f44;
  margin: 3px 0;
  transition: 0.15s ease; 
  margin-left: 50px;
}

.arrowContact span:nth-child(1) {
    width: 40%;
    transform: rotate(-45deg) translate(-1px, 0px);
}

.arrowContact span:nth-child(3) {
    width: 40%;
    transform: rotate(45deg) translate(-1px, 0px);
}

.arrowContactContainer {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.arrowContactContainer a {
    display: flex;
}


.arrowContactContainer p:after {
    position: absolute;
    transition: all 0.35s ease;
    background-color: rgb(19, 31, 68);
    width: 0%;
    -webkit-transition: all 0.4s ease-out;
    content: '';
    right: 0;
    height: 1.3px;
    bottom: 0px;
}

.arrowContactContainer p:hover:after {
    width: 100%;
    transition: width 0.45s ease;
    left: 0;
}

.arrowContactContainer p {
    margin-left: 16px;
    cursor: pointer;
    position: relative;
}

.arrowUp {
    width: 35px;
    height: 22px;
    display: block;
    margin: 0 auto;
}



.arrowUp span {
    display: block;
    width: 100%;
    height: 3px;
    background: #131f44;
    margin: 3px 0;
    transition: 0.15s ease; 
}

.arrowUp span:nth-child(1) {
    width: 40%;
    transform: rotate(-45deg) translate(-1px, 0px);
    
}

.arrowUp span:nth-child(3) {
    width: 40%;
    transform: rotate(45deg) translate(-1px, 0px);
}

.containerLeftFooter {
    display: flex;
    flex-direction: column-reverse;
    align-self: center;
    transform: rotate(90deg);
    cursor: pointer;
}

.containerLeftFooter p {
    transform: rotate(-90deg);
    margin: 13px;
}

.footerMobile {
    display: none;
    text-align: center;
}

/*//////////////////////////////////////////////////*/
/*////////////////////////RESPONSIVE//////////////////////////*/
/*//////////////////////////////////////////////////*/

@media (max-width: 700px) {
    .footerContainer {
        height: inherit;
        flex-direction: column-reverse;
        align-items: center;
    }

    .gridFooter:nth-child(1) {
        padding: 10px 0;
        width: 100%;
    }

    .gridFooter:nth-child(2) {
        width: 100%;
    }

    .gridFooter:nth-child(3) {
        display: none;
    }
    .arrowContactContainer {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 360px) {
    .gridFooter {
        display: none;
    }

    .footerMobile {
        display: block;
        text-align: center;
        font-size: 11px;
        line-height: 20px;
        padding-top: 10px;
    }

    .footerMobile a {
        text-decoration: none;
        color: black;
        font-size: 13px;
    }

    .logoFooter {
        margin-bottom: 8px;
    }
} 
